@model  ADS.APP.Models.CustommerViewModels
@using ADS.APP.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ADS_Entities db = new ADS_Entities();
}
<script src="~/Scripts/ADS/Admin.js"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Quản lý khách hàng</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Tùy chọn
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered" id="div">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Quản lý khách hàng</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<button id="sample_editable_1_new" class="btn sbold green">
                                        thêm mới
                                        <i class="fa fa-plus"></i>
                                    </button>*@
                                @*<a class="btn sbold green" onclick="Custommer.ViewCreate()">
                                    Thêm mới <i class="fa fa-plus"></i>
                                </a>*@
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="sample_3_filter" class="dataTables_filter pull-right">
                                <label>
                                    Tìm kiếm: <input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="table_cus" role="grid" aria-describedby="sample_1_info">
                            <thead>
                                @*<tr role="row">
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 66px;">
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes">
                                                <span></span>
                                            </label>
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 146px;"> Username </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 222px;"> Email </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 106px;"> Status </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Joined : activate to sort column ascending" style="width: 111px;"> Joined </th>
                                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" Actions : activate to sort column ascending" style="width: 114px;"> Actions </th>
                                    </tr>*@
                                <tr>
                                    <td class="w50 text-center">
                                        STT
                                    </td>
                                    <td class="w120 text-center">
                                        Họ và Tên
                                    </td>
                                    <td class="w150 text-center">
                                        Địa chỉ
                                    </td>
                                    <td class="w150 text-center">
                                        Tên đăng nhập
                                    </td>
                                    <td class="w120 text-center">
                                        Mật khẩu
                                    </td>
                                    <td class="w80 text-center">
                                        Trạng thái
                                    </td>
                                    <td>...</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var Cus in Model.lstCustommer)
                                    {
                                        <tr>
                                            <td>@((Cus.Id + 1).ToString("0"))</td>
                                            <td>@Cus.FullName</td>
                                            <td>@Cus.Address</td>
                                            <td>@Cus.UserName</td>
                                            <td>@Cus.PassWord</td>
                                            <td>@Cus.Status</td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="Admin.DeleteCus(@Cus.Id)" class="btn btn-danger btn-xs" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


