@model  ADS.APP.Models._Article
<div class="modal-content">
    <div class="modal-header panel-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Chi tiết bài đăng</h4>
    </div>
    @Html.ValidationSummary(true)
    @Html.HiddenFor(n => n.Id)
    <div class="modal-body">
        <div class="form-group">
            <label>Tiêu đề</label>
            @Html.TextAreaFor(x => x.Title, new { @class = "form-control", @style = "height:120px" })
        </div>
        <div class="form-group">
            <label>Nội dung</label>
            @Html.TextAreaFor(n => n.Decreption, new { @class = "form-control" , @style="height:250px"})
        </div>
        <div class="form-group">
            <label>Hình ảnh</label>
            <div class="form-group-lg">
                @foreach (var image in Model.img)
                {
                    <img src="~/Image/User/@image.Name" style="cursor: pointer;" alt="Image" width="160px" height="90px" onclick="lightbox('@image.Id')" />
                }
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label>Ngày tạo</label>
                    @Html.TextBoxFor(n => n.Create_Date, new { @class = "form-control" })
                </div>
                <div class="col-sm-6">
                    <label>Danh mục</label>
                    @Html.TextBoxFor(n => n.CategoryId, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Giá</label>
            @Html.TextBoxFor(n => n.Price, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Người đăng</label>
            @Html.TextBoxFor(n => n.UserNameFree, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>SDT Người đăng</label>
            @Html.TextBoxFor(n => n.PhoneNumber, new { @class = "form-control password" })
        </div>

        <div class="form-group">
            <label>Trạng thái</label>
            @Html.TextBoxFor(n => n.Status, new { @class = "form-control" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn green" onclick="Admin.ConfirmArticle(@Model.Id)">Duyệt bài</button>
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Đóng</button>
    </div>

</div>


