@model  ADS.APP.Models.ArticleViewModel
@{
    ViewBag.Title = "ArticleCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Đăng bài</h2>

        <div class="post-ad-form">
            @using (Html.BeginForm("ArticleFreeAdd", "Article", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)
                <label>Danh mục <span>*</span></label>
                @Html.DropDownListFor(n => n.AdvandeArticle.Article_CategoryId,(IEnumerable<SelectListItem>)ViewBag.lstDop, new { @class = "", @id = "select" })
                <div class="clearfix"></div>
                <label>Tiêu đề <span>*</span></label>
                @Html.TextBoxFor(n => n.AdvandeArticle.Article_Title, new { @class = "phone", @placeholder = "Tiêu đề bài đăng" })
                @Html.ValidationMessageFor(n => n.AdvandeArticle.Article_Title)
                <div class="clearfix"></div>
                <label>Nội dung <span>*</span></label>
                @Html.TextAreaFor(n => n.AdvandeArticle.Article_Content, new { @class = "mess", @placeholder = "Mô tả về sản phẩm bạn đăng" })
                @Html.ValidationMessageFor(n => n.AdvandeArticle.Article_Content)
                <div class="clearfix"></div>
                <div class="upload-ad-photos">
                    <label>Hình ảnh :</label>
                    <div class="photos-upload-view">
                        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />
                        <div>
                            <input type="file" id="fileselect" name="fileselect" multiple="multiple" />
                        </div>
                        <div id="messages">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script src="~/Content/js/filedrag.js"></script>
                </div>
                <div class="personal-details">
                    <label>Họ tên <span>*</span></label>
                    @Html.TextBoxFor(n => n.Cus.FullName, new { @class = "name" })
                    @Html.ValidationMessageFor(n => n.Cus.FullName)
                    <div class="clearfix"></div>
                    <label>Số điện thoại <span>*</span></label>
                    @Html.TextBoxFor(n => n.Cus.PhoneNumber, new { @class = "phone" })
                    @Html.ValidationMessageFor(n => n.Cus.PhoneNumber)
                    <div class="clearfix"></div>
                    <label>Địa chỉ Email<span>*</span></label>
                    @Html.TextBoxFor(n => n.Cus.Email, new { @class = "email" })
                    @Html.ValidationMessageFor(n => n.Cus.Email)
                    <div class="clearfix"></div>
                    <p class="post-terms">Hoặc nếu bạn muốn vị trí bài viết của bạn luôn ở khoảng trên cùng thì bạn có thể thực hiện <a href="/Article/AdvandArticleCreate">Đăng bài tin phí </a></p>
                    <div class="clearfix"></div>
                    <input type="submit" value="Đăng tin">
                    <div class="clearfix"></div>
                </div>
            }
        </div>

    </div>
</div>
