@model ADS.APP.Models.Article
@using ADS.APP.Models;
@{
    Layout = null;
    ADS_Entities db = new ADS_Entities();
    var province = db.Provinces.SingleOrDefault(n => n.Id == Model.ProvinceId);
    var category = db.Categories.ToList();
    List<Image> Image = db.Images.Where(n => n.ImageId == Model.Id).ToList();
    var district = db.Districts.SingleOrDefault(n => n.Id == Model.DistrictId);
    List<Article> article = db.Articles.Where(n => n.CategoryId == 1).ToList();
}

<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết mặt hàng</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
            $.ajax({
                url: "/Page/Menu",
                type: "GET",
                dataType: "Json",
                data: {},
                success: function (data) {
                    let html = ''

                    $.each(data, function (i, v) {
                        html += '<li><a href="">' + v.name + '</a></li>'
                    });
                    $('#ol').append(html);
                }
            })
        });
    </script>
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <link rel="stylesheet" href="~/Content/css/flexslider.css" media="screen" />
</head>
<body>
    <div class="header">
        @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    </div>
    <div class="banner text-center">
        <div class="container">
            @Html.Partial("~/Views/Shared/_BanerPartial.cshtml")
        </div>
    </div>
    <!--single-page-->
    <div class="single-page main-grid-border">
        <div class="container">
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li><a href="index.html">Trang chủ</a></li>
                <li><a href="all-classifieds.html">Danh mục</a></li>
                <li class="active"><a href="mobiles.html">Điện thoại</a></li>
                <li class="active">Chi tiết</li>
            </ol>
            <div class="product-desc">
                <div class="col-md-7 product-view">
                    <h2>@Model.Title</h2>
                    <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">@(district.Type + " " + district.Name)</a>, <a href="#">@(province.Type + " " + province.Name)</a>| @Model.Create_Date, Mã số: @("0101" + Model.Id.ToString("0"))</p>
                    <div class="flexslider">
                        <ul class="slides">
                            @foreach (var Img in Image)
                            {
                                <li data-thumb="/Image/User/@Img.Name">
                                    <img src="/Image/User/@Img.Name" />
                                </li>
                            }
                            @*<li data-thumb="/Image/User/@Image.SingleOrDefault(n=>n.ImageId == Model.Id).Name">
                                    <img src="" />
                                </li>
                                <li data-thumb="/Content/images/ss3.jpg">
                                    <img src="/Content/images/ss3.jpg" />
                                </li>*@
                        </ul>
                    </div>
                    <!-- FlexSlider -->
                    <script defer src="~/Content/js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                    <!-- //FlexSlider -->
                    <div class="product-details">
                        <h4>Danh mục : <a href="#"> @category.SingleOrDefault(n => n.Id == Model.CategoryId).Name</a></h4>
                        <h4>Giá : <strong style="color:#c90927"> @( Model.Price.ToString() + " đ")</strong></h4>
                        <p><strong>Tiêu đề </strong>: @Model.Title</p>
                        <p><strong>Nội dung</strong> : @Model.Decreption</p>

                    </div>

                    <br />
                    <!-- slider -->
                    <div class="trend-ads" style="margin-top:50px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 20px 0;margin: 20px 0;">
                        @{ Html.RenderAction("SamePost", "Article");}
                    </div>

                    <!-- //slider -->

                </div>
                <div class="col-md-5 product-details-grid">
                    <div class="item-price">
                        <div class="product-price">
                            <p class="p-price">Tên người bán:</p>
                            <p style="float: right;margin-top: -21px;width: 50%;">@Model.UserNameFree</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="condition">
                            <p class="p-price">Số điện thoại:</p>
                            <p style="float: right;margin-top: -21px;width: 50%;">@(Model.PhoneNumber.ToString())</p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="itemtype">
                            <p class="p-price">Email:</p>
                            <p style="float: right;margin-top: -21px;width: 50%;">@Model.EmailFree</p>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    @*<div class="interested text-center">
                            <h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
                            <a href="#" class="btn btn-success" style="padding: 10px;border-radius: 3px;margin-top: 17px;"><i class="glyphicon glyphicon-earphone"></i> 00-85-9875462655</a>
                        </div>*@
                    <div class="tips">
                        <h4>Danh mục bài đăng</h4>
                        <ol id="ol"></ol>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//single-page-->
    <!--footer section start-->
    @Html.Partial("~/Views/Shared/_FooterPartial.cshtml")
    <!--footer section end-->
</body>
</html>
